// Anchor
/** 
*** Contents
*** 01 - anchor
*** 02 - underlined
**/

// 01 - anchor
// Usage: 

a {
    color: $anchor-color;
    text-decoration: $anchor-decoration;
    
    &:hover {
        color: $anchor-color-hover;
        text-decoration: $anchor-decoration-hover;
    }
}

// 02 - underlined
// Usage:

a.underlined {
    color: $anchor-underlined-color;
    text-decoration: underline;

    &:hover {
        color: $anchor-underlined-color-hover;
        text-decoration: underline;
    }
}