// Blockquote
/** 
*** Contents
*** 01 - blockquote
**/

// 01 - blockquote
// Usage: 
// Default variables:
$blockquote-padding: $global-padding !default;
$blockquote-border-width: 1px !default;
$blockquote-border-color: $brand !default;
$blockquote-border-left-width: 1rem !default;
$blockquote-background-color: black !default;
$blockquote-font-size: 2rem !default;

blockquote {
    display: block;
    padding: $blockquote-padding;
    border-style: solid;
    border-width: $blockquote-border-width;
    border-color: $blockquote-border-color;
    border-left-width: $blockquote-border-left-width;
    background-color: $blockquote-background-color;
    font-size: $blockquote-font-size;
}