// Buttons
/** 
*** Contents
*** 01 - btn
*** 01.1 - btn-block 
*** 02 - primary
*** 03 - secondary
*** 04 - 
**/

// 01 - btn
// Usage: 

.btn {
    display: inline-block;
    padding: $btn-padding;
    font-size: $btn-font-size;
    font-weight: $btn-weight;
    border-width: $btn-border-width;
    border-style: $btn-border-style;
    
    // 0.1 btn-block
    // Usage: 
    &-block {
        display: block;

        &-xs {
            display: block;
            @include mq($break-sml) {
                display: inline-block;
            }
        }
        &-sm {
            @include mq($break-sml) {
                display: block;
            }
        }
        &-md {
            @include mq($break-md) {
                display: block;
            }
        }
        &-lg {
            @include mq($break-lg) {
                display: block;
            }
        }
        &-xl {
            @include mq($break-xl) {
                display: block;
            }
        }
    }
}


.btn-primary {
    background-color: $btn-primary-background;
    color: $btn-primary-color;
    border-color: $btn-primary-border-color;

    &:visited,
    &:focus {
        background-color: $btn-background-hover;
        color: btn-color-hover;
        border-color: $btn-primary-border-color-focus;
    }

    &:hover {
        background-color: $btn-background-hover;
        color: btn-color-hover;
        border-color: $btn-primary-border-color-hover;
    }
}

// 03 - btn-secondary 
// Usage: 

.btn-secondary {
    color: btn-secondary-color;
    background-color: $btn-secondary-background-color;

    &:visited,
    &:focus {
        background-color: $btn-background-hover;
        color: btn-color-hover;
        border-color: $btn-primary-border-color-focus;
    }

    &:hover {
        background-color: $btn-background-hover;
        color: btn-color-hover;
        border-color: $btn-primary-border-color-hover;
    }
}