body {
	-webkit-font-smoothing: subpixel-antialiased; //https://usabilitypost.com/2010/08/26/font-smoothing/
}

$typography-elems:
	'p',
	'ul',
	'ol';

$media-elems:
	'.blockquote',
	'.button-wrapper',
	'.media';

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin-top: 0;
	// font-family: $stack--heading;
	font-weight: 800;
	line-height: 1;

	&:first-child {
		margin-top: 0;
	}

	a {
		font-weight: 800;
	}
}

.h1 {
	font-size: 2rem;
}

.h2 {
	font-size: 1.8rem;
}

.h3 {
	font-size: 1.6rem;
}

.h4 {
	font-size: 1.4rem;
}

.h5 {
	font-size: 1.2rem;
}

.h6 {
	font-size: 1rem;
}


// Basic typography styling
#{$typography-elems},
#{$media-elems} {
	margin-top: 0;

	&:first-child {
		margin-top: 0;
	}
}

.ol-none,
.ul-none {
	list-style: none;
}


// Stylistic elements
b,
strong {
	font-weight: 800;
}

small {
	font-size: 80%;
}