@import "variables";
@import "import";

* {
  box-sizing: border-box;
}

.content,
.hero {
  display: block;
  padding: $hero-padding-xs;
  @include respond-to('large') {
    padding: $hero-padding-md;
  }
}
