/** 
*** Contents
*** 01 - Grid 
**/

// Default variables
$grid-columns: 12 !default;
$grid-columns: 12 !default;
$break-sml: 576px !default;
$break-md: 768px !default;
$break-lg: 992px !default;
$break-xl: 1200px !default;
$col-padding: 0.5rem !default;
$container-max-width: 1200px !default;

// Grid
// Usage: https://gist.github.com/waltercraig/54b4fdd26ce426686ab16ea0efcdf4b6
@for $i from 1 through $grid-columns {
    .col-xs-#{$i} {
      max-width: #{100% * $i / $grid-columns};
    }
  }
  
  @for $i from 1 through $grid-columns {
    .col-sm-#{$i} {
      @include mq($break-sml) {
        max-width: #{100% * $i / $grid-columns};
      }
    }
  }
  
  @for $i from 1 through $grid-columns {
    .col-md-#{$i} {
      @include mq($break-md) {
        max-width: #{100% * $i / $grid-columns};
      }
    }
  }
  
  @for $i from 1 through $grid-columns {
    .col-lg-#{$i} {
      @include mq($break-lg) {
        max-width: #{100% * $i / $grid-columns};
      }
    }
  }
  
  @for $i from 1 through $grid-columns {
    .col-xl-#{$i} {
      @include mq($break-xl) {
        max-width: #{100% * $i / $grid-columns};
      }
    }
  }