/** 
*** Contents
*** 01 - Grid 
**/

// Grid
// Usage: https://gist.github.com/waltercraig/54b4fdd26ce426686ab16ea0efcdf4b6
@for $i from 1 through $grid-columns {
    .col-xs-#{$i} {
      max-width: #{100% * $i / $grid-columns};
    }
  }
  
  @for $i from 1 through $grid-columns {
    .col-sm-#{$i} {
      @include respond-to('small') {
        max-width: #{100% * $i / $grid-columns};
      }
    }
  }
  
  @for $i from 1 through $grid-columns {
    .col-md-#{$i} {
      @include respond-to('medium') {
        max-width: #{100% * $i / $grid-columns};
      }
    }
  }
  
  @for $i from 1 through $grid-columns {
    .col-lg-#{$i} {
      @include respond-to('large') {
        max-width: #{100% * $i / $grid-columns};
      }
    }
  }
  
  @for $i from 1 through $grid-columns {
    .col-xl-#{$i} {
      @include respond-to('xl-large') {
        max-width: #{100% * $i / $grid-columns};
      }
    }
  }