/** 
*** Contents
*** 01 - container 
*** 02 - container-full
**/ 

// 01 - container
// Usage: https://gist.github.com/waltercraig/54b4fdd26ce426686ab16ea0efcdf4b6
.container {
    margin: 0 auto;
    max-width: $container-max-width;
    padding-left: $col-padding;
    padding-right: $col-padding;
}

// 02 - Container Full
.container-full {
    margin: 0;
    max-width: 100%;
}

// 03 - Container Strict
// Usage:
.container-strict {
    @include respond-to('small'){
        max-width: $break-sml;
    }
    @include respond-to('medium'){
        max-width: $break-md;
    }
    @include respond-to('large'){
        max-width: $break-lg;
    }
    @include respond-to('xl-large'){
        max-width: $break-xl;
    }
}